.header{
    position: fixed;
    top:0;
    height:4rem;
    background-color:#fff;
    border-bottom:1px solid $primary;
    width:100%;
    display:flex;
    align-items:center;
    >.container{
    display:flex;
    align-items:center;
    justify-content:space-between;
    }
    &__logo{
        a{
        display:flex;
        align-items:center;
        img{
            max-width:40px;
            padding-right:1rem;
        }
        .header__title{
            font-weight:bold;

        }}

    }
    
}